.navbar {
    display: flex;
    height: 80px;
    background-color: rgba(173, 246, 246, 0.439);
    padding-left: 60px;
}

.navbar img {
    width: 70px;
    height: 70px;
}

.navbar h2 {
    padding-left: 10px;
    font-style: italic;
}

@media screen and (max-width:576px) {
    .navbar {
        display: flex;
        width: 310px;
        background-color: rgba(196, 209, 209, 0.439);
    }

    .navbar h1 {
        padding: 0px;
        font-size: 20px;
    }
}